.income {
    color: var(--positive-color);
}

.expense {
    color: var(--negative-color);
}

.showcase {
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.1);
    width: 75%;
    justify-content: stretch;
    text-align: center;
}

.showcase div {
    padding: 10px;
    flex-grow: 1;
}

.income-box {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
