* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
    text-align: center;
}

/* Util */
.flex {
    display: flex;
    justify-content: start;
    align-items: center;
}

.container {
    max-width: 300px;
    margin: auto;
}
